In [3]:
import pandas as pd

In [6]:
data = pd.read_csv('C:/Users/Dhananjana/Documents/MLOPS/first_project/dataset/cubic_zirconia.csv')

In [7]:
data.head(2)

,Unnamed: 0,carat,cut,color,clarity,depth,table,x,y,z,price
0,1,0.30,Ideal,E,SI1,62.1,58.0,4.27,4.29,2.66,499
1,2,0.33,Premium,G,IF,60.8,58.0,4.42,4.46,2.70,984

Introduction About the Data :
The dataset The goal is to predict price of given diamond (Regression Analysis).

There are 10 independent variables (including id):

id : unique identifier of each diamond

carat : Carat (ct.) refers to the unique unit of weight measurement used exclusively to weigh gemstones and diamonds.

cut : Quality of Diamond Cut

color : Color of Diamond

clarity : Diamond clarity is a measure of the purity and rarity of the stone, graded by the visibility of these characteristics under 10-power magnification.

depth : The depth of diamond is its height (in millimeters) measured from the culet (bottom tip) to the table (flat, top surface)

table : A diamond's table is the facet which can be seen when the stone is viewed face up.

x : Diamond X dimension

y : Diamond Y dimension

x : Diamond Z dimension

Target variable:

price: Price of the given Diamond.

In [8]:
data['cut'].value_counts()

cut
Ideal        10816
Premium       6899
Very Good     6030
Good          2441
Fair           781
Name: count, dtype: int64

In [9]:
data.sample(10)

,Unnamed: 0,carat,cut,color,clarity,depth,table,x,y,z,price
11286,11287,0.23,Ideal,E,VVS2,62.8,57.0,3.91,3.96,2.47,530
2601,2602,1.11,Ideal,D,VVS2,62.3,56.0,6.59,6.64,4.12,12390
4643,4644,0.50,Ideal,H,SI2,62.3,53.0,5.10,5.14,3.19,964
10031,10032,1.21,Ideal,I,VS2,62.3,58.0,6.79,6.75,4.22,5387
19019,19020,0.52,Ideal,E,VS2,61.2,56.0,5.23,5.16,3.18,1815
7834,7835,1.01,Good,D,VS2,62.5,62.0,6.26,6.34,3.94,6563
15739,15740,1.51,Ideal,H,VS2,62.2,57.0,7.33,7.29,4.55,11540
8429,8430,1.13,Very Good,E,SI2,59.4,62.0,6.78,6.83,4.04,3967
14150,14151,0.90,Good,I,SI1,63.0,53.0,6.08,6.15,3.85,3196
17334,17335,1.25,Ideal,D,VS1,61.7,56.0,6.92,7.01,4.30,10441

In [11]:
data.isnull().sum()

Unnamed: 0      0
carat           0
cut             0
color           0
clarity         0
depth         697
table           0
x               0
y               0
z               0
price           0
dtype: int64

In [13]:
data.shape

(26967, 11)

In [14]:
data.size

296637

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26967 entries, 0 to 26966
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  26967 non-null  int64
 1   carat       26967 non-null  float64
 2   cut         26967 non-null  object
 3   color       26967 non-null  object
 4   clarity     26967 non-null  object
 5   depth       26270 non-null  float64
 6   table       26967 non-null  float64
 7   x           26967 non-null  float64
 8   y           26967 non-null  float64
 9   z           26967 non-null  float64
 10  price       26967 non-null  int64
dtypes: float64(6), int64(2), object(3)
memory usage: 2.3+ MB

In [16]:
data.columns

Index(['Unnamed: 0', 'carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x',
       'y', 'z', 'price'],
      dtype='object')

In [17]:
data.drop(labels=['Unnamed: 0'], axis=1, inplace=True)

In [18]:
data

       carat        cut color clarity  depth  table     x     y     z  price
0       0.30      Ideal     E     SI1   62.1   58.0  4.27  4.29  2.66    499
1       0.33    Premium     G      IF   60.8   58.0  4.42  4.46  2.70    984
2       0.90  Very Good     E    VVS2   62.2   60.0  6.04  6.12  3.78   6289
3       0.42      Ideal     F     VS1   61.6   56.0  4.82  4.80  2.96   1082
4       0.31      Ideal     F    VVS1   60.4   59.0  4.35  4.43  2.65    779
...      ...        ...   ...     ...    ...    ...   ...   ...   ...    ...
26962   1.11    Premium     G     SI1   62.3   58.0  6.61  6.52  4.09   5408
26963   0.33      Ideal     H      IF   61.9   55.0  4.44  4.42  2.74   1114
26964   0.51    Premium     E     VS2   61.7   58.0  5.12  5.15  3.17   1656
26965   0.27  Very Good     F    VVS2   61.8   56.0  4.19  4.20  2.60    682
26966   1.25    Premium     J     SI1   62.0   58.0  6.90  6.88  4.27   5166

[26967 rows x 10 columns]

In [19]:
data.duplicated().sum()

34

In [20]:
cat_columns = data.columns[data.dtypes=='object']

In [22]:
nun_columns = data.columns[data.dtypes!='object']

In [26]:
data[nun_columns].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26967 entries, 0 to 26966
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   carat   26967 non-null  float64
 1   depth   26270 non-null  float64
 2   table   26967 non-null  float64
 3   x       26967 non-null  float64
 4   y       26967 non-null  float64
 5   z       26967 non-null  float64
 6   price   26967 non-null  int64
dtypes: float64(6), int64(1)
memory usage: 1.4 MB